<main>
<h3>レシピを検索</h3>

<%= form_tag({controller:"cooks",action:"index"}, method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" ,:message => nil ,class: "button is-info"%> 
<% end %>

<p> 
<% if current_user %>
  <%= button_to "レシピを投稿する",new_cook_path,method: :get,class: "btn btn-outline-primary btn-lg" %>
  <br>
  <%= button_to 'ログアウト', tops_logout_path,method: :get,class: "btn btn-outline-primary btn-lg"  %>
<% else %>
  <%= button_to 'ログイン', tops_main_path,method: :get,class: "btn btn-outline-primary btn-lg"%>
<% end %>

<div class="row">
  <% @cooks.each do |e| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="box10">
        <div class="container">
          <%= e.message %>
        </div>
        <br>
        <%= image_tag "/get_image/#{e.id}",size:'200x120',style:"margin-bottom:20px" %>
        <div class="btn-toolbar">
          <div class="btn-group">
            <div class="mx-2">
              <%= button_to "表示",cook_path(e),method: :get,class: "btn btn-outline-primary btn-sm" %>
            </div>
            <% if current_user %>
              <div class="mx-2">
                <%= button_to "削除",cook_path(e),method: :delete,class: "btn btn-outline-danger btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</dev>

</main>

<style>
main {
padding: 15px 30px;
}
.box10 {
     padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box10 p {
    margin: 0; 
    padding: 0;
}
.container{
  text-align:center;
  background-color:#ffe2e0;
}

</style>
