

<h3>レシピを検索</h3>

<%= form_tag({controller:"cooks",action:"index"}, method: :get) do %>

<%= submit_tag '検索' %>

 <%= text_field_tag :search %>




<% end %>

<% @cooks.each do |e| %>
  <p>
   <div class="btn-toolbar">
      <div class="btn-group">
        <%= e.message %>
        <br>
        <br>
        <%= image_tag "/get_image/#{e.id}",size:'200x100' %>
          
        
        <div class="mx-2"><%= button_to "表示",cook_path(e),method: :get,class: "btn btn-outline-primary btn-sm" %></div>
        <% if current_user %>
            <div class="mx-2"><%= button_to "削除",cook_path(e),method: :delete,class: "btn btn-outline-danger btn-sm" %></div>
          <% if e.likes.count > 0 %>
            <%= link_to 'いいね削除', like_path(e), method: :delete %>
          <% else %>
            <%= link_to 'いいね', likes_path(cook_id: e.id), method: :post %>
          <% end %>
    
        <% end %>
        </div>
      </div>
    </p>
<% end %>

<p> 
<% if current_user %>
  <%= button_to "レシピを投稿する",new_cook_path,method: :get,class: "btn btn-outline-primary btn-lg" %>
  <%= link_to 'レシピを投稿する', new_cook_path %>
<% end %>
</p>

<p>
<% if current_user %>
  <%= link_to 'ログアウト', tops_logout_path %>
<% else %>
  <%= link_to 'ログイン', tops_main_path %>
<% end %>
</p>

<p>
  <%= link_to 'ユーザ一覧', users_path %>
</p>

<style>
.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}
</style>