
<%= bootstrap_form_for@cook, url: {action: :create} do |f| %>
<body>
        <%= f.text_field :message , label:"料理名"%> 
 
        <%= f.text_area :step1, label:"材料"%> 

       

        <%= f.text_area :step2, label:"作り方" %> 

        
        
 
        <%= f.text_area :step3, label:"コツなど" %>

　        <%= f.file_field :file, label:"完成写真" %>
　        <br>

        
        <%= f.submit 'レシピを投稿する' %>
</body>
      
<% end %>
<style>
body {
        margin: 5px 10px 15px 20px;
}
</style>