<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @user.each do |user| %> 
<p>
uid:<%= user.uid %>　pass:<%= user.pass %>
<%= link_to '削除', "/users/#{user.id}",method: :delete %>
</p>
<% end %>
<p><%= link_to 'ユーザ登録', '/users/new' %></p>
<p><%= link_to 'メイン', '/' %></p>