<!DOCTYPE html>


<html>
  <head>
    <title>Kindaicook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
      <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
        <a>
          
          <%= link_to 'KindaiCooks', root_path, data: {"turbolinks" => false} %>
          
          
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              
                <% if current_user %>
                  <li class="nav-item">
                    <%= link_to 'レシピを追加する', new_cook_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト',tops_logout_path %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'ログイン ', tops_main_path %>
                  </li>
                <% end %>
          </ul>
        </div>
      </nav>
       
      <nav class="navbar navbar-expand-md">
    </header>

  <body>
    <%= yield %>
  </body>


<footer class="footera">
	<div class="container text-center">
	  <p class="text-muted">©︎<?php echo $year;?>KindaiCooksse</p>
	</div>
</footer>
</html>

<style>
html {
  position: relative;
  min-height: 100%;
}
.sticky-top .header_img img{
  width:25%;
}
body {
  margin-bottom: 60px;
}
.footera {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #312d2a;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
</style>